.ui.borderless.topmenu.menu {
  background-color: rgb(247, 247, 247);
  box-shadow: none;
  border: none;
}

.ui.borderless.midmenu.menu {
  box-shadow: none;
  border: none;
}

.pagefooter {
  padding: 15px 0px 15px 0px;
}